@font-face {
    font-family: Parastoo;
    src: url('./fonts/Parastoo.eot');
    src: url('./fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Parastoo.woff') format('woff'),
         url('./fonts/Parastoo.ttf') format('truetype');
}

@font-face {
    font-family: ParastooBold;
    src: url('./fonts/Parastoo-Bold.eot');
    src: url('./fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Parastoo-Bold.woff') format('woff'),
         url('./fonts/Parastoo-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    margin : 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #f9f9f9;
    padding : 5px;
}

.positionContainer {
    display: flex;
    /* width: 70%; */
    /* margin: auto; */
    justify-content: space-between;
}

.navbarItem {
    text-decoration: none;
    color : black;
    font-family: Parastoo;
    cursor: pointer;
}

.navbarRightItem {
    margin: 0px 10px 0px 10px;
}
.navbarLeftItem {

}
.navbarItem :hover {
    color :orangered;
}

#account{
    display: flex;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.verifyAdButton {
    font-family: parastoo;
    font-size: 12px;
    color: white;
    background-color: #198ad6;
    padding: 8px;
    border: 0;
    border-radius: 24px 24px 24px 24px;
    cursor: pointer;
}

.verifyAdButton:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main {
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 16px;
}

.columnDir {
    display: flex;
    flex-direction: column;
}

.searchBar {
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    width: 100%;
}

.shadowBehind {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#searchInput {
    font-family: parastoo;
    width: 80%;
    height: 50px;
    padding: 24px;
    border: 1px solid #bbbcbf;
    border-radius: 5px;
}


#searchButtom {
    font-family: parastoo;
    width: 15%;
    height: 50px;
    /* padding: 24px; */
    background-color: #eaedf2;
    border: 1px solid #bbbcbf;
    border-radius: 5px;
}
#searchInput:hover {
    border: 1px solid black;
}
#searchButtom:hover {
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.title {
    font-family: parastoo;
    /*padding: 15px;*/
}

h2 {
    padding: 0 10px 15px 0;
}
h4 {
    padding: 0 10px 0 0;
}

.position {
    float: right;
    width: 20%;
    padding-right: 10px;
    background-color: white;
    /*border: 1px solid grey;*/
    /*border-radius: 5px;*/

}

.column {
    display: flex;
    padding: 20px 0 10px 0;
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 16px;
    font-family: parastoo;
    font-size: 13px;
}

.position ul {
    list-style-type: none;
    padding-right: 0;
}

.column1 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-right: 70px;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.column2 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.column3 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.column4 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.listDesign li {
    color: grey;
    width: 150px;
    border: 1px solid grey;
    border-radius: 15px;
    padding-right: 5px;
    margin: 4px 0 4px 0;
}

ul :hover {
    color: orangered;
    background-color: #eff0f1;
    cursor: pointer;
}

p {
    color: black;
    font-weight: bold;
    padding: 10px 5px 0 0;
}
p:hover {
    color: orangered;
    cursor: pointer;
}

hr {
    width: 95%;
    margin: 20px 5px 15px 0;
}

.icons {
    float: right;
    margin: 6px 5px 0 10px;
}

.category {
    display: flex;
    /*padding: 20px 0 10px 0;*/
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 16px;
    font-family: parastoo;
    font-size: 13px;
    text-align: center;
}

.category1 {
    display: flex;
    background-color: white;
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 14%;
    height: 80px;
    margin-right: 83px;
    margin-left: 10px;
    /*padding-top: 40px;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.category2 {
    display: flex;
    background-color: white;
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 14%;
    margin-left: 10px;
    /*padding-top: 40px;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.category3 {
    display: flex;
    background-color: white;
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 14%;
    margin-left: 10px;
    /*padding-top: 40px;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.category4 {
    display: flex;
    background-color: white;
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 14%;
    margin-left: 10px;
    /*padding-top: 40px;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.category5 {
    display: flex;
    background-color: white;
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 14%;
    margin-left: 10px;
    /*padding-top: 40px;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.category6 {
    display: flex;
    background-color: white;
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 14%;
    margin-left: 10px;
    /*padding-top: 40px;*/
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.category1:hover {
    color: orangered;
    cursor: pointer;
}
.category2:hover {
    color: orangered;
    cursor: pointer;
}
.category3:hover {
    color: orangered;
    cursor: pointer;
}
.category4:hover {
    color: orangered;
    cursor: pointer;
}
.category5:hover {
    color: orangered;
    cursor: pointer;
}
.category6:hover {
    color: orangered;
    cursor: pointer;
}
.category1 p {
    margin-top: 40px;
}
.category2 p {
    margin-top: 40px;
}
.category3 p {
    margin-top: 40px;
}
.category4 p {
    margin-top: 40px;
}
.category5 p {
    margin-top: 40px;
}
.category6 p {
    margin-top: 40px;
}
.icon {
    margin: 10px 7px 0 0 ;
    width: 35px;
    height: 35px;
}
.title2 {
    margin-top: 50px;
}
.title2 p{
    background-color: #f9f9f9;
    font-family: parastoo;
    color: grey;
    font-size: 20px;
    padding: 100px 70px 0 0;
}

.row1 {
    display: flex;
    padding: 20px 0 10px 0;
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 16px;
    font-family: parastoo;
    font-size: 13px;
}

.c1 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    height: 420px;
    margin-right: 70px;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.c2 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.c3 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.c4 {
    border: 1px solid #eff0f1;
    border-radius: 10px;
    width: 22%;
    margin-left: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.row1 p{
    padding: 0 5px 0 0;
    font-size: 15px;
    font-weight: bold;
}
.row1:hover {
    cursor: pointer;
}

#location {
    color: grey;
    font-size: 11px;
    padding-top: 60px;
}
.r1c {
    width: 95%;
    height: 60%;
    margin-top: 10px;
    border-radius: 10px;
}

#ignore:hover {
    color: black;
}

.button {
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #f9f9f9;
    text-align: center;
}
.verifyAdButton2 {
    font-family: parastoo;
    font-size: 14px;
    color: #0084ff;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 8px;
    border: 1px solid #0084ff;
    border-radius: 24px 24px 24px 24px;
    cursor: pointer;
    width: 150px;
}

.verifyAdButton2:hover {
    color: orangered;
}

.footer {
    display: flex;
    width: 100%;
    height: 1.5in;
    background-color: #eff0f1;
}
.list {
    font-family: parastoo;
    font-size: 13px;
    color: #62666d;
    background-color: #eff0f1;
    margin-right: 60px;
}

.pic {
    display: flex;
    background-color: #eff0f1;
    width: 550px;
    height: 110px;
    margin-top: 5px;
    margin-left: 60px;
}
.footer p {
    margin-right: 0;
    padding-bottom: 10px;
}
.footer p:hover {
    color: black;
}
.list li {
    padding-right: 5px;
}

.copyRight {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #d0d1d3;
}
.text p {
    color: #62666d;
    font-size: 12px;
    margin-right: 70px;
    font-weight: normal;
    font-family: parastoo;
    margin-top: 5px;

}
.text p:hover {
    cursor: auto;
}
.socialMedia {
    margin-top: 13px;
    margin-right: 750px;
}
.socialMedia:hover {
    cursor: pointer;
}